*.identcache
*.local
*.dcu
*.stat
*.dsk
JSON/__history/
XPath/UnitTest/Win32/Debug/dunit.ini
XPath/__history/
XPath/TestBench/__history/
XPath/UnitTest/__history/
AMQP/__history/
AMQP/source/__history/
AMQP/Samples/Threads/__history/
AMQP/Samples/Testbench/__history/
EasyDelphiQ/__history/
EasyDelphiQ/Testbench/__history
EasyDelphiQ/Testbench/Win32
/AMQP/Source/backup
/MassTransitMsg/__history
/MassTransitMsg/sb_masstransitmsg.pas
/fpc/lib/aarch64-linux/*.o
/fpc/lib/aarch64-linux/*.ppu
/fpc/lib/aarch64-linux/*.rsj
*.compiled
*.o
*.ppu
*.rsj
*.or
*.res
