*.identcache
*.local
*.dcu
JSON/__history/
XPath/UnitTest/Win32/Debug/dunit.ini
XPath/__history/
XPath/TestBench/__history/
XPath/UnitTest/__history/
AMQP/__history/
AMQP/Samples/Threads/__history/
AMQP/Samples/Testbench/__history/